---
interface Experience {
  company: string;
  role: string;
  date: string;
  responsibilities: string[];
}

interface Props {
  experience: {
    title: string;
    description: string;
    experiences: Experience[];
  };
}

const { experience } = Astro.props;
---

<section class="font-sans mx-auto">
  <h2 class="text-3xl font-semibold mb-4">{experience.title}</h2>
  <p class="mb-4 text-primary">{experience.description}</p>
  <div class="space-y-8">
    {
      experience.experiences.map((exp) => (
        <div class="space-y-1">
          <p class="text-sm text-primary">{exp.date}</p>
          <p class="text-xl font-medium">
            {exp.role} &nbsp;&#64;&nbsp; {exp.company}
          </p>
          <ul class="text-base text-primary leading-relaxed list-disc list-inside">
            {exp.responsibilities.map((responsibility) => (
              <li class="list-none">- {responsibility}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
