---
const {
  tileSize = 8,
  gap = 2,
  tileColor = "#03071e",
  tileOpacity = 1,
  flickerChance = 0.5,
  animationSpeed = 60,
} = Astro.props;
---

<div
  id="tilesContainer"
  data-tilesize={tileSize}
  data-gap={gap}
  data-tilecolor={tileColor}
  data-tileopacity={tileOpacity}
  data-flickerchance={flickerChance}
  data-animationspeed={animationSpeed}
  class="relative w-5 h-5"
>
</div>
<script src="../scripts/load.js"></script>
